body{
    font-family: 'Open Sans', sans-serif;
}
/*nav related styles*/
nav{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin:0 200px ;
}
.nav-title{ color: #181818;
    font-size: 45px;
    font-weight:800 ;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.text-primary{
    color: #fd6e0a; ;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
     list-style: none;
     margin-right: 50px;
    color: #474747;
}
.btn{
    background-color: #fd6e0a;
    color: white;
    width:110px ;
    height: 30px;
    border-radius: 5px;
    border: 0px;
    font-size: 15px;
    font-weight: 700;
    
}
.header{
    background-color: #FFF8F3;

}
.banner-title{
    align-content: baseline;
    

}
.profile{
    height: 600px;
    width: 550px;
    align-items: center;
    display: flex;
}